<mat-sidenav-container>
  <mat-sidenav #sidenav (opened)="log('Opened')" (closed)="log('Closed')" mode="side" [(opened)]="opened">
    <div class="sidebar-header">
      <img id="logo" src="assets/shapp_logo.png" alt="shapp_logo">
      <span id="logo-text">shapp</span>
    </div>
    <div class="feautures" *ngFor="let feauture of features">
        <div class="feauture" routerLink="{{ feauture.link }}">
            <img src="{{ feauture.icon }}" alt="">
            <p>{{ feauture.name }}</p>
        </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <img (click)="sidenav.toggle()" class="toggleSidenavBtn" src="assets/menu.png" alt="">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
